# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# focus on wasm only
.dfx/local/
.dfx/ic/lsp
.dfx/canisters/idl
.dfx/canisters/RakeoffAchievements/index.js
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.did
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.did.d.ts
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.did.js
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.most
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.old.did
.dfx/canisters/RakeoffAchievements/RakeoffAchievements.old.most

# frontend code
node_modules/
dist/

# configs
canister_ids.json
.env
.vessel/
